.grid {
  width: 832px;
  height: 576px;
  border: 5px solid #404040;
}

.grid-row {
  display: flex;
}

.grid-col {
  display: block;
  width: 32px;
  height: 32px;
}

.grid-floor {
  background-image: url("../../assets/floor.gif");
}

.grid-wall {
  background-image: url("../../assets/wall.gif");
}

.grid-cracked-wall {
  background-image: url("../../assets/cracked_wall.gif");
}